#logo {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/logo.png', sizingMethod='image');
}

#buycart {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/buycart.png', sizingMethod='crop');
}

#bepartner {
    display: block;
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bepartner.png', sizingMethod='crop');
}

#head-text-bg {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/head-text.png', sizingMethod='image');
}

#forum {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/forum.png', sizingMethod='crop');
}

#trouble {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/trouble.png', sizingMethod='crop');
}

#search {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/search.png', sizingMethod='crop');
}

.item  .stick {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/stick.png', sizingMethod='image');
}

#sidebar {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/menu-bg.png', sizingMethod='crop');
}
