div#bg{
	filter:alpha(opacity=70);
}
#fon{
	filter:alpha(opacity=65);
}
#information {filter:alpha(opacity=30)}
#wrapper:hover #information{filter:alpha(opacity=70)}
#information:active {filter:alpha(opacity=0)}
.imgnav:active,#imglink:active,
#slider img:active{filter:alpha(opacity=100)}
#imglink {filter:alpha(opacity=0)}
#slider img {filter:alpha(opacity=70)}

#ZoomSpin{
	filter:alpha(opacity=70);
}
#dim,#dim2,#ZoomCapDiv,#ZoomClose{
	filter:alpha(opacity=0);
}



div#wrapper{margin-bottom:0px;}






#logo, #logo img{display:none;
}
.gb pre{
	width:566px;white-space:normal;display:block;
}
.gb{
	width:686px
}
.zek, .zek img{display:inline-block!important;border:0!important;margin:0 auto!important}


#gal li a{width:50%;display:block;cursor:pointer;z-index:43}#gal h3{float:left;}
#information, #imglink{z-index:100;}#fullsize, #image, #image img{z-index:70}#center{z-index:33;position:relative;background:#ddd}
 #imglink{margin:0;position:absolute;right:0}
 
 #ZoomClose{
	right:-3px;
	top:-1px;
}
