/*td {
	padding-bottom: 2px; 
	padding-top: 0px;" 
	font-family: arial, verdana, helvetica; 
	font-size: 11px;
}*/background-color: #EEEEEE;

.unimportant {
	color: #888888;
	padding-top: 0px;" 
	font-family: arial, verdana, helvetica; 
	font-size: 11px;
}
.unimportant input, select{
	color: #888888;
	padding-top: 0px;" 
	font-family: arial, verdana, helvetica; 
	font-size: 11px;
}

